$auth-color: white;
$auth-background-color: #353535;


.main-view {
    @include background-size(cover);
    background-color: #353535;
    background-position: center;

    > .x-body-el {
        background-color: rgba(black, 0.25);
    }

    .x-formpanel {
        width: 256px;    
    }
 
    .x-panel-body-default {
        background-color: #FFFFFF;
        background-image: none;
    } 

    .transparent-frame, .transparent-frame .x-panel-body-default-framed
        {
            background-color: transparent;
        }

    .auth-header,
    .auth-footer {
        color: $auth-color;
        text-align: center;
        padding: 16px;

        a {
            color: $auth-color;
            text-decoration: none;
        }
    }

	.auth-form {
		padding: 28px;
	}

    .auth-header {
        .logo {
            @include single-text-shadow;
            color: $auth-color;
            font-size: 40px;
            padding: 8px;
            line-height: 1;
        }

        .title, .caption {
            white-space: nowrap;
        }

        .title {
            font-size: 31px;
            color: $auth-color;
            font-weight: bold;
            padding: 8px;
        }

        .caption {
            font-size: 18px;
            color: $auth-color;
            text-transform: uppercase;
        }
    }

    .auth-footer {
        .logo {
            font-size: 18px;
            margin-right: 2px;
            margin-left: -4px;

            &::before {
                vertical-align: middle;
            }
        }

        .label {
            font-weight: bold;
        }
    }
}

/* Navigation */
 .main-view .x-tab-bar-default-top {
    background : transparent;
    background-image: none !important;
}
.main-view .x-tab-bar-default-top {
    border-width: 0;
    /* fix for border top */
}
.main-view .x-tab-bar-body a {
    background-image: none !important;
    box-shadow: none;
    border: 0;
    border-radius : 0;
}
.main-view .x-tab-bar-body .x-table-plain td {
    background : transparent !important;
    background-image: none !important;
}
.main-view .x-tab-bar-body .x-tab-default-top {
    background : #353535 !important;
}
.main-view .x-tab-bar-body .x-tab-active {
    background : #00B4A9 !important;
    border-color: #00B4A9 !important;
    border-width: 1px 1px 0 1px !important;
    color: white !important;
    border-style: solid;
}
.main-view .x-panel-bar-body .x-tab-default-top {
    background : #353535 !important;
}
.main-view .x-panel-bar-body .x-tab-active {
    background : #00B4A9 !important;
    border-color: #00B4A9 !important;
    border-width: 1px 1px 0 1px !important;
    color: white !important;
    border-style: solid;
}
.main-view .x-toolbar-default {
    padding: 0 0 0 6px;
}

.main-view .btn {
    color: white !important;
}

.main-view .btn:hover  {
    background : #262626 !important;
    border-color: #262626 !important;
}

.main-view .btnImage {
    background:transparent url(images/logo.jpg) 0 0 no-repeat !important;
    border-radius: 50%;
    border: 1px solid #000;
}

.main-view .btnImage:hover {
    border-color: #00B4A9 !important;
}

.main-view .btnBlue {
    color: white !important;
}

.main-view .btnBlue:hover  {
    background : #00B4A9 !important;
    border-color: #00B4A9 !important;
}
