.home {
    .header-message {
        color: $base-color;
        font-size: 32px;
        padding: 8vh 16px 6vh 16px;
        text-align: center;

        .greeting, .person-name {
            display: inline-block;
            margin: 5px;
        }

        .greeting {
            white-space: nowrap;
        }

        .person-name {
            @include border-radius;
            border: 3px solid;
            font-weight: 600;
            padding: 4px 16px 8px;
        }

        .x-big & {
            font-size: 22px;

            .person-name {
                border-width: 2px;
            }
        }
    }

    .header-info {
        line-height: 1.65;
        padding: 0 16px;

        &::before {
            @include single-box-shadow;
            position: absolute;
            display: block;
            height: 32px;
            content: '';
            left: 0;
            right: 0;
            top: 0;
        }
    }

    .header-links {
        > .x-innerhtml {
            display: flex;
        }

        .item {
            font-size: 14px;
            padding: 8px;
            overflow: hidden;
            text-align: center;
        }

        .icon, .picture {
            border: 4px solid white;
            display: block;
            margin: 0 auto 4px auto;
            height: 54px;
            width: 54px
        }

        .icon {
            @include border-radius(50%);
            background-color: $base-color;
            color: contrasted($base-light-color, -25%);

            &::before {
                font-size: 28px;
            }
        }

        .title, .link {
            @include ellipsis;
        }

        .title {
            color: $neutral-medium-dark-color;
            font-size: 12px;
            text-transform: uppercase;
        }

        .link {
            display: block;
            font-size: 13px;
            font-weight: normal;
        }
    }

    .header-clock {
        align-items: flex-end;
        display: flex;
        font-weight: normal;
        padding-bottom: 16px;
        text-align: right;

        .date {
            color: $base-color;
        }

        .time {
            background-color: $base-color;
            color: white;
            font-size: 12px;
            padding: 2px 4px;
            text-align: center;
        }
    }

    @media screen and (max-width: 600px) {
        .header-clock {
            display: none;
        }

        .header-links .item {
            padding: 8px;
            flex: 1;
            width: 0;
        }
    }
}
